<!DOCTYPE html>
<html>
  <head>
    <h1 id = "title1"></h1>
    <p id = "body1"></p>
  </head>
  <script>
    const postId = Number(/\/posts\/(\d+)/.exec(location.pathname)[1])
    const url = `http://localhost:4000/posts/${postId}`

    request(url).then(post =>{
      let titleHTML = `${post.title}`
      let bodyHTML = `${post.body}`
      document.getElementById("title1").innerHTML = titleHTML;
      document.getElementById("body1").innerHTML = bodyHTML;
    })

    async function request(url){
      const response = await fetch(url)
      const data = await response.text();
      return data;
    }
  </script>
</html>