h1 {
  border-bottom: 1px solid black;
  margin: 0;
}
.y {
  border-right: 1px solid black;
  width: 250px;
  margin: 0;
}
.x {
  margin: 0;
  padding-top: 10px;
}
#grid {
  display: grid;
  grid-template-columns: 300px 1fr;
}
