<!DOCTYPE html>
<html>
    <meta charset='utf-8'>
  <link rel='stylesheet' href=css/forlogin.css>
  <head>
    <title>naver_login</title>
  </head>
  <div class='domain'>
  <body>
    <h1 class='topic'>NAVER</h1>
    <div class='inputs'>
    <form>
  <input type="text" placeholder="아이디" id='userId'></input><br>
  <input type="password" placeholder="비밀번호" id='userPw'></input><br>
<p>
  <button type='button' class='submit_' value='로그인' onclick="location.href='/'">로그인</button>
</p>
</form>
</div>
</div>
</body>
</html>
